body {
    font-family: 'Josefin Sans', sans-serif;
}
nav {
    background-color: #161853;
}
.jumbotron {
    background-color: #292C6D;
    padding-top: 150px;
}
#about {
    background-color: #161853;
    padding-top: 150px;
}
#myskils {
    background-color: #292C6D;
    padding-top: 150px;
}
#project {
    background-color: #161853;
    padding-top: 100px;
}
#contact {
    background-color: #292C6D;
    padding-top: 100px;
}
footer{
    background-color: #161853;
}